.non-footer{
    background-image: url("./image/evening-g600d7b0b6_1920.jpg");
    background-size: cover; /* 背景画像の縦横比を保持したまま、ブラウザにピッタリ表示 */
}

ul{
    display: flex; /* 中の要素を横並びにする */
    height: 100%;
    width: 100%;
}

li{
    list-style: none; /* リストの[・]を消す */
    margin-left: 40px; /* メニューそれぞれに間隔をあけるため */
}

.header{
    height: 20%;
    background-color: black;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 30px;
    color: rgb(10, 240, 221);
    opacity: 0.8;  
    padding-top: 10px;
    position: fixed; /* ウィンドウを基準に画面に固定 */
    width: 100%;
    display: flex; /* 中の要素を横並びにする */
}

.name{
    padding-top: 130px;
    padding-left: 20px;
    padding-right: 20px;
    color: aliceblue;
    /* フェードイン */
    animation-name: fadein;  /* fadeinとアニメーション名を定義 */
    animation-duration: 2s;  /* アニメーションの長さを指定する */
    height: 100%;
}

.roman-name{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: aliceblue;
    /* フェードイン */
    animation-name: fadein;  /* fadeinとアニメーション名を定義 */
    animation-duration: 2s;  /* アニメーションの長さを指定する */
    height: 100%;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.introduction{
    color: aliceblue;
    border-bottom: 1.5px solid aliceblue;
    margin-left: 20px;
    margin-bottom: 30px;
    height: 100%;
    width: 100%;
}

.top-list{
    overflow: hidden;
    height: 100%;
}

.list{
    margin-left: 20px;
    margin-right: 100px;
    float: left;
    height: 100%;
}

a{
    color: aliceblue;
}

.universitymenu{
    color: aliceblue;
    border-bottom: 1.5px solid aliceblue;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 10px;
    float: left;
    height: 100%;
    width: 100%;
}

.coursemenu{
    color: aliceblue;
    border-bottom: 1.5px solid aliceblue;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 10px;
    float: left;
    height: 100%;
    width: 100%;
}

.agemenu{
    color: aliceblue;
    border-bottom: 1.5px solid aliceblue;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 10px;
    float: left;
    height: 100%;
    width: 100%;
}

.mangamenu{
    color: aliceblue;
    border-bottom: 1.5px solid aliceblue;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 10px;
    float: left;
    height: 100%;
    width: 100%;
}

.instagrammenu{
    color: aliceblue;
    border-bottom: 1.5px solid aliceblue;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 10px;
    float: left;
    height: 100%;
    width: 100%;
}

.factor{
    margin-left: 20px;
    padding-bottom: 5px;
    display: block;
    height: 100%;
    width: 100%;
}

.favorite{
    padding-top: 100px;
    color: rgb(15, 185, 228);
    margin-bottom: 10px;
    text-align: center;  /* 中央寄せの指定 */
    height: 100%;
}

#scene{
    padding-top: 30px;
    display: block;
    margin: auto;  /*画像の中央寄せ*/
    margin-bottom: 50px;
    height: 300px;
    width: 400px;
}

.divination{
    text-align: center;  /* 中央寄せの指定 */
    height: 100%;
    width: 100%;
}

.divination-title{
    color:cyan;
}

.btn-list{
    text-align: center;
}

#fate-img{
    height: 300px;
    width: 400px;
}

.btn{
    margin: 3px;
    padding: 3px 7px;
    border: 1px solid black;
}